{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Проверить доступные столики</h2>
    <div class="card shadow p-4 bg-transparent">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.date.label_tag }}
                {{ form.date }}
                {% if form.date.errors %}
                <div class="text-danger">
                    {{ form.date.errors.0 }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.start_time.label_tag }}
                {{ form.start_time }}
                {% if form.start_time.errors %}
                <div class="text-danger">
                    {{ form.start_time.errors.0 }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.end_time.label_tag }}
                {{ form.end_time }}
                {% if form.end_time.errors %}
                <div class="text-danger">
                    {{ form.end_time.errors.0 }}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Проверить доступные столики</button>
        </form>
    </div>
</div>

{% endblock %}
